.settingsAll {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}
form {
    width: 100%;
    display: flex;
    margin-top: -2rem;
    justify-content: center;
   
   
}


.form textarea {
    display: flex;
    width: 60%;
    height: 3.375rem;
    resize: none; /* faz com que n altere o tamanho*/
    border-radius: 8px;
    text-align: left;
    padding: 1rem;
    color: var(--gray-300);
    background: var(--gray-500);
    border: 0;
    font-size: 0.875rem;
    
    
}

.ButtonCriar[type=submit] {
    display: flex;
    width: 5rem;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
    font-size: 0.875rem;
    font-weight: bold;
    background: var(--blue-dark);
    border: 0;
    color: var(--gray-100);
    margin-left: 0.5rem;
    border-radius: 8px;
    flex-shrink: 0; /* Garante que o botão não encolha */
}

.ButtonCriar[type=submit]:hover {
    background: var(--blue);
    cursor: pointer;
}





/*  TASKS*/
.tasksHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;  /* Garante que os itens fiquem alinhados verticalmente */
    margin-top: 3rem;
    width: 65%;
    
    
}

.colorBlue {
    color: var(--blue);
    font-weight:bold;
    font-size: 0.8rem;
}

.colorPurple {
    color: var(--purple-dark);
    font-weight: bold;
    font-size: 0.8rem;
}

.line {
    border-bottom: 1px solid var(--gray-400);
    width: 66%;
    margin: 1.5rem;
}

.dontHaveTasks{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.5rem;
    margin: 2.5rem;
    opacity: 0.7;
    font-size: 0.875rem;
}

.boldParagraph{
    font-weight: bold;
    color: var(--gray-200);
    opacity: 0.7;
}

.dontHaveTasks svg{
    margin-bottom: 0.7rem;
    color: var(--gray-400);
}

span {
    margin-left: 0.875rem;
    background: var(--gray-400);
    border-radius: 7px;
    padding: 0.2rem 0.4rem;
    color: var(--gray-200);
    font-weight: bold;
}
.counter{
    opacity: 0.8;
}



.containerTasks {
    flex-direction: column;
    display: flex;
}

.taskContent{
display: flex;
background: var(--gray-200);
cursor: pointer;
margin-top: 1rem;
border: 0.5px solid var(--gray-400);
width: 40rem;
height: 4rem;
background: var(--gray-500);
padding: 1rem ; 
border-radius: 8px;
justify-content: space-between;
  
}

.taskContent span{
    
    background: none;
    color: var(--gray-200);
    
}

.taskContent input[type='checkbox'] {
    -webkit-appearance: none;  /* Remove o estilo padrão no Chrome/Safari */
    -moz-appearance: none;     /* Remove o estilo padrão no Firefox */
    appearance: none;          /* Remove o estilo padrão no resto dos navegadores */
    
    margin-right: 1rem; /* Adiciona um espaço à direita do checkbox */
    width: 1rem;
    height: 1rem;
    border: 1px solid var(--blue); /* Cor da borda */
    border-radius: 10px;          /* Forma do checkbox */
    background-color: var(--gray-500);     /* Cor de fundo */
    cursor: pointer;
}

.taskContent input[type='checkbox']:hover {
    background: var(--gray-400);
}

.taskContent input[type="checkbox"]:checked {
    background: var(--purple-dark);
    border-color:var(--purple-dark);
}

.taskContent input[type="checkbox"]:checked::after {
    content: "\2713";; /* Código da seta (para direita) */
    font-size: 0.6rem;
    color: white;
    position: absolute;
    rotate: 10deg;
    transform: translate(45%, -1%);
    opacity: 1;
}

.taskContent input[type="checkbox"]:checked + span {
    text-decoration: line-through;
}

.taskContentinput span:hover{
    color: var(--gray-400);
}

.taskContent button {
    background: transparent;
    border: 0;
    color: var(--gray-300);
    cursor: pointer;
    line-height: 0;
    border-radius: 2px;
    
    
    
}
.taskContent button:hover {
    color: var(--danger); 
    background: var(--gray-400);
    padding: 0.4rem 0.3rem;
}

/* @media (max-width: 768px) {
    .form textarea {
        width: 20rem;
    }
}
@media (max-width: 640px) {

}
*/
     